.button {
    flex-direction: row;
    width: fit-content;
    max-width: 100%;
    min-width: 100px;
    min-height: 50px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #007bff;
  background: linear-gradient(90deg, rgba(0, 128, 255) 0%, rgba(0, 128, 255) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(0, 128, 255);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    z-index: 1;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(100px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid #007bff;
    box-shadow: 0 0 60px rgba(0, 128, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    z-index: 2;
  }
  
  .button:hover, 
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, 
  .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #007bff;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .button:hover::after,
  .button:focus::after {
    animation: none;
    opacity: 0;
  }
  
  .button:active {
    transform: none;
  }

  .button.active::after {
    animation: ring 1.5s infinite;
    opacity: 1;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 140px;
      height: 140px;
      opacity: 0;
    }
  }
